body {
    background-image: url("./images/background.jpeg");
    background-size: cover;
    background-attachment: fixed;
    color: #f7f7f7;
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
}

.card {
    position: relative;
    overflow: hidden;
    padding: 0.1rem;
    background-color: #f7f7f7;
    color: #000000;
    margin-bottom: 0.5rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    box-shadow: 1px 1px 5px #000000;
}

#card-actions {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: slategrey;
    color: #f7f7f7;
    transition: 1s;
    text-align: center;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.card:hover #card-actions {
    transition: 0.7s ease-out;
    right: 0;
}

#header {
    margin: 1rem;
    padding: 1rem;
    border: 0.2rem solid #f7f7f7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}
#board-container {
    padding: 1rem;
    border: 0.2rem solid #f7f7f7;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#board-title {
    margin: 1rem;
}

#board-header {
    border-bottom: 0.2rem solid #f7f7f7;
    padding: 0.5rem;
input {
    width: 50%;
    display: block;
    margin: 15px auto;

}

.modal-body {
    text-align: center;
    padding: 50px;
}